body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(247, 248, 248);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-title{
  color: rgb(15, 14, 26);
  text-align: center;
}

ul {
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  background-color: #010024;
  list-style-type: none;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  width: 65vw;
  color: #fcf5ec;
  padding: 5px;
}

.span-groop{
  display: flex;
  justify-content: center; 
  align-items: center;
}

.span-button{
  background-color: rgb(108, 108, 108);
  border-radius: 5px;
  padding: 0px 5px 5px 5px;
  margin: 5px;
}

.tabs {
  /* background-color: aquamarine; */
  width: 65vw;
  margin-left: auto;
  margin-right: auto;
}

.delete{
  background-color: red;
  color: #ffffff;
}

button{
  /* background-color: aquamarine; */
  color: rgb(4, 0, 37);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  border: none;
}

button.selected {
  background-color: rgba(0, 9, 45, 0.547);
  color: antiquewhite;
}

.general{
  background-color: inherit;
  color: rgb(6, 0, 22);
  width: 65vw;
  border: none;
  border-bottom: 2px solid rgb(35, 35, 35);
  margin-bottom: 20px;
  padding: 5px;
}

::placeholder {
  color: rgb(44, 44, 45);
  opacity: 1; /* Firefox */
}

.inner {
  background-color: rgb(222, 222, 222);
  border: 0;
  border-radius: 5px;
  padding: 5px;
}

@media screen and (max-width: 500px) {
  li {
    flex-direction: column;
  }
 }